div {
    padding: 5px;
}

.MuiDialogActions-root {
    justify-content: center !important;
    margin-top: 15px;
}

button {
    font-weight: bold;
}

#chooseTypeTitle {
    margin-right: 15px;
}

.ColorPicker-MuiInputBase-input {
    color: aliceblue !important;
}

.ColorPicker-MuiInput-underline:before {
    border-bottom: 1px solid rgba(228, 218, 218, 0.42) !important;
}