.filterButton {
    background-color: rgb(68, 46, 64) !important;
    margin-right: 10px !important;
    margin-left: 10px;
    font-size: small !important;
}

#titleFilterBox {
    margin-top: 5px;
}