.filterButton {
    background-color: #442e40;

    margin-right: 10px !important;
    font-size: small !important;
}

.active {
    background-color: #b599b0 !important;
}

#titleFilterBox {
    margin-top: 5px;
}